:root {
  --primary-color: #3d5e6b;
  --primary-color-darken: #2c4148;
  --primary-color-lighten: #5f95a8;

  --border-color: #d5d0c4;
  --border-color-draken: #d3c4aa;
  --border-color-lighten: #dfdbd5;
  --border-color-focused: #877c73;

  --text-color: #44474d;

  --background-color: #efefef;
}

/* Color Theme Swatches in Hex */
.Insta-Palette-Neutral-Peace-1-hex {
  color: #3d5e6b;
}
.Insta-Palette-Neutral-Peace-2-hex {
  color: #9ca5b1;
}
.Insta-Palette-Neutral-Peace-3-hex {
  color: #d5d0c4;
}
.Insta-Palette-Neutral-Peace-4-hex {
  color: #877c73;
}
.Insta-Palette-Neutral-Peace-5-hex {
  color: #44474d;
}

/* Color Theme Swatches in RGBA */
.Insta-Palette-Neutral-Peace-1-rgba {
  color: rgba(61, 94, 107, 1);
}
.Insta-Palette-Neutral-Peace-2-rgba {
  color: rgba(156, 165, 177, 1);
}
.Insta-Palette-Neutral-Peace-3-rgba {
  color: rgba(213, 208, 196, 1);
}
.Insta-Palette-Neutral-Peace-4-rgba {
  color: rgba(135, 124, 115, 1);
}
.Insta-Palette-Neutral-Peace-5-rgba {
  color: rgba(68, 71, 77, 1);
}

/* Color Theme Swatches in HSLA */
.Insta-Palette-Neutral-Peace-1-hsla {
  color: hsla(196, 27, 32, 1);
}
.Insta-Palette-Neutral-Peace-2-hsla {
  color: hsla(214, 11, 65, 1);
}
.Insta-Palette-Neutral-Peace-3-hsla {
  color: hsla(42, 16, 80, 1);
}
.Insta-Palette-Neutral-Peace-4-hsla {
  color: hsla(26, 7, 49, 1);
}
.Insta-Palette-Neutral-Peace-5-hsla {
  color: hsla(219, 6, 28, 1);
}
