:root {
  --ext-primary-color: rgb(50, 105, 255);
  --ext-primary-color-extra-lighten: rgb(153, 178, 255);
  --ext-primary-color-extra-darken: rgb(25, 53, 128);
  --ext-primary-color-lighten: rgb(101, 153, 255);
  --ext-primary-color-darken: rgb(25, 53, 128);

  --ext-border-color: rgb(201, 201, 201);
  --ext-border-color-lighten: rgb(226, 226, 226);
  --ext-border-color-darken: rgb(141, 141, 141);
  --ext-border-color-extra-lighten: rgb(241, 241, 241);
  --ext-border-color-extra-darken: rgb(101, 101, 101);

  --ext-background-color: rgb(255, 255, 255);
  --ext-background-color-lighten: rgb(255, 255, 255);
  --ext-background-color-darken: rgb(179, 179, 179);
  --ext-background-color-extra-lighten: rgb(255, 255, 255);
  --ext-background-color-extra-darken: rgb(128, 128, 128);

  --ext-text-color: rgb(51, 51, 51);
  --ext-text-color-lighten: rgb(102, 102, 102);
  --ext-text-color-darken: rgb(36, 36, 36);
  --ext-text-color-extra-lighten: rgb(127, 127, 127);
  --ext-text-color-extra-darken: rgb(25, 25, 25);
  --ext-text-color-reversed: rgb(255, 255, 255);
}
