ext-button {
  position: relative;
  display: block;
  user-select: none;
  -webkit-user-select: none;
}

ext-button > .ext-button-container {
  position: relative;
  width: fit-content;
  height: 100%;
  outline: 0;
  border: 0;
  border-radius: 10px;
  background-color: var(--ext-primary-color);
  color: var(--ext-text-color-reversed);
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

ext-button > .ext-button-container.outlined {
  border: 1px solid var(--ext-primary-color);
  background-color: var(--ext-background-color);
  color: var(--ext-primary-color);
  transition:
    background-color 0.2s,
    border 0.2s,
    color 0.2s;
}

ext-button:hover > .ext-button-container {
  cursor: pointer;
}

ext-button:active {
  transform: translateY(1px);
}

ext-button > .ext-button-container > i {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
