ext-button {
  position: relative;
  display: block;
}

ext-button > button {
  position: relative;
  width: 100%;
  height: 100%;
  outline: 0;
  border: 0;
  border-radius: 10px;
  background-color: #3d5e6b;
  color: white;
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

ext-button > button.outlined {
  border: 1px solid #3d5e6b;
  background-color: #fff;
  color: #3d5e6b;
  transition:
    background-color 0.2s,
    color 0.2s;
}

ext-button > button.outlined:hover {
  background-color: #337d9b;
  color: #fff;
}

ext-button:hover > button {
  cursor: pointer;
}

ext-button:active {
  transform: translateY(1px);
}

ext-button > button > i {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
